<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Онлайн-кинотеатр "Hello World!"</title>
</head>
<body>

Главная страница онлайн-кинотеатра "Hello World!".
<ul>
    <li>
        <a href="videos/list/">Список фильмов</a>
    </li>
    <li>
        <a href="videos/video/123/">Информация о фильме "Гарри Поттер и философский камень"</a>
    </li>
</ul>

{% load static %}
<img src="{% static 'helloworld.jpg' %}" alt="">

</body>
</html>